*{
    margin: 0;
    padding: 0;

    
background-color: #222831;
/* background-color: #ecf0f3; */

}


h1{
     background-color: #00ADB5;
    font-family: 'Source Code Pro', monospace;
    font-size: xxx-large;
    text-align: center;
    font-size: 60px;
   color: #F4EEFF; 
} 
.head{
   
    font-family: 'Rubik Iso', cursive;
    text-align:center;
    font-size: 40px; 
}
h2{
    background-color: #9A3B3B;
     
}
.dropdown{
    color: #f2f2f2;
    width: 80%; /* Adjust the width as needed */
    
    margin-left: auto;
    margin-right: auto%;
}
.menu {

    border: 2px solid  #222831;
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 5%;
    font-size: large;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px; /* Remove any default padding */
    margin: 3%  ;
    
}
.dropbtn{
    visibility: hidden;
}


a{
    text-decoration: none;
    color: inherit;
}
.dropdown ol li:hover{
    background-color: #ddd;
    color: black;
}
.intro{
    color: red;
    padding: 10%;
}
.name{
    color:yellow;
}
h4,h3{
    text-align: center;
    font-size: xxx-large;
}
h4{
    width: 100%;
}
.id, .di {
    text-align: center;
    font-size:large;
    color: white;
}
.id{
    margin-top: 3%;
}
.di{
    text-transform: uppercase;
}
.gitlin{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    gap: 1.5rem;
}
.git{
    height: 30px;
    padding: .5rem;
    background-color: #ecf0f3;
    box-shadow: 0.6px .12px 5px #3ccfe6;
    border-radius: 30px;
    opacity: .5;
    transition: all 0.3s ease-in-out;
}
.git:hover{
   
    opacity: 1; /* Hover opacity */
    transform: scale(1.1); /* Scale up on hover; adjust as needed */
    color: #0077b5;
}
.lin{
    height: 30px;
    box-shadow: .6px .12px 5px #3ccfe6;
    padding: .5rem;
    border-radius: 50px;
    background-color: #ecf0f3;
    opacity: .5;
    transition: all 0.3s ease-in-out;
}
.lin:hover{
    opacity: 1; /* Hover opacity */
  transform: scale(1.1); /* Scale up on hover; adjust as needed */
  color: #0077b5;
}
/* about section */
.container{
    display: flex;
    align-items: center;
    padding-top: 0.1%;
   
}
.about {
    padding: 5%;
    margin-left: 5%;
    height: 100%;
    width: 50%;
}
.me {
    letter-spacing: .1em;
    font-size: large;
    color:#F4EEFF;
    font-weight: 100;

}
.who{
    letter-spacing: .1em;
    margin-top: .6rem;
    font-size: x-large;
    color: green;
    font-family: 'Merienda', cursive;
}
.info{
    margin-top: 2rem;
    line-height: 27pt;
    color: gray;
    font-size: 14pt;
    font-family: 'Merienda', cursive;
}
.photo{
    height: 100%;
    width: 10%;
}
.test{
    margin-top: 30%;
    height: 250px;
   width: 300px;
   box-shadow: 1px 2px 10px #00ADB5;
   border-radius: 10%;
   transition: .1s ease-out;
}
.test:hover{
    transform: scale(1.1);
    transition: .1s ease-out;

}

/* skill */
.naam{
    letter-spacing: .1em;
    color:#F4EEFF;
    font-weight: 100;
    font-size: large;
    
}
.kaam{
    letter-spacing: .1em;
    margin-top: 1.5rem;
    font-size: x-large;
    color: green;
    font-family: 'Merienda', cursive;
}
.skill{
    padding: 5%;
    padding-top: 20%;
    margin-left: 5%;
    align-items: center

}
.columns{
margin-top: 2rem;
display: grid;
gap: 2rem;
flex-wrap: wrap;
text-align: center;
grid-template-columns: repeat(4,minmax(0,1fr));


}

.row{
    width: 64;
    height: 64;
}
.row:hover{
   transform: scale(1.1);
    transition: .1s ease-out;
    transition-duration: .3s;
    
}
.htlm{
    text-align: center;
    justify-content: center;
    color: #ddd;
    text-transform: uppercase;
    font-weight: bold;

}
.pro{
    letter-spacing: .1em;
    color:#F4EEFF;
    font-weight: 100;
    font-size: large;
    text-transform: uppercase;
}
.work{
    letter-spacing: .1em;
    margin-top: 1.5rem;
    font-size: x-large;
    color: green;
    font-family: 'Merienda', cursive;
}
.project{
    padding: 5%;
    padding-top: 20%;
    margin-left: 5%;
    align-items: center
}
.rock{
  margin-top: 2rem;
    height: 250px;
    width: 350px;
    border: 10px solid #ecf0f3;
    border-radius: 10px;
    transition: .1s ;

}
/* styles.css */
.contain {
    position: relative;
    display: inline-block;
    /* Set the height to match your image height */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 8, 236, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github-link,
.demo-button {
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    margin: 5px;
    transition: background-color 0.3s; /* Add a transition for smoother hover effect */
}

.github-link:hover,
.demo-button:hover {
    background-color: #ff5733; /* Set your desired common hover color here */
}

.demo-button {
    background-color: #007bff; /*Customize the button's background color */
    border: none; 
     border-radius: 5px;
    transition: background-color 0.3s;  /* Add a transition for smoother hover effect*/
}

.contain:hover .overlay {
    display:flex;
}
.cal{
    margin-top: 2rem;
    height: 250px;
    width: 350px;
    border: 10px solid #ecf0f3;
    border-radius: 10px;
    transition: .1s ;

}
.profile{
    margin-top: 2rem;
    height: 250px;
    width: 350px;
    border: 10px solid #ecf0f3;
    border-radius: 10px;
    transition: .1s ;
}
/* Download button creating */
.down{
    display: inline-block;
    padding: 5px 7px;
    background-color: #0074d9; 
    color: #ffffff;
    border: 2px solid #0074d9; 
    border-radius: 10px; 
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
}
.menu li{
    background-color: transparent !important;
}
.down:hover{
    background-color: #0056b3;
  color: #ffffff; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.sroll{
   
    
}
.top {
    height: 40px;
    width: 40px;
    box-shadow : 2px 3px  #fff;
    padding: 1rem;
    border-radius: 50px;
    margin-top: 50px;
    background-color: #ddd;
    transition: .1s ease;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.top:hover{
    transform: scale(1.1);
    transition: .1s ease;
}


 /* resolution set * /

/* Media query for screens 600px and wider */
@media screen and (min-width: 600px) {
    img {
        /* Add styles for larger screens here */
        max-width: 100%; /* Images can still be 100% of their container */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Media query for screens 1200px and wider */
@media screen and (min-width: 1200px) {
    img {
        /* Add styles for even larger screens here */
        max-width: 800px; /* Limit image width to 800px on larger screens */
        height: auto; /* Maintain aspect ratio */
    }
}

@media screen and (max-width: 600px) {
    .head{
        font-size: 18px;
    }

}


/* Media query for screens 600px or less */
@media screen and (max-width: 600px) {
   
    .dropbtn {
    visibility: visible;
 background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
      .menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 1px 0px rgba(10, 144, 185, 0.2);
        z-index: 1;
      }
      .menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

      }
      .menu a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #11add8;}
      
}